PORT=
NODE_ENV=
JWT_SECRET=
FRONTEND_URL=
BACKEND_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
ALLOWED_ORIGIN=
# Cấu hình VietQR
VIETQR_BANK_ID=        # Mã ngân hàng
VIETQR_ACCOUNT_NO=  # Số tài khoản
VIETQR_ACCOUNT_NAME= # Tên chủ tài khoản